/*body {*/
    /*background-image: url('images/titlescreen.jpg');*/
    /*background-repeat: no-repeat;*/
    /*background-size: auto;*/
/*}*/
#title{
    margin-top: 200px;
    margin-left: 400px;
    font-size: x-large;
    font-family: fantasy;
}

.description{
    margin-left: 400px;
    font-family: fantasy;
    font-size: medium;
}

.startGame{
    margin-top: 50px;
    margin-left: 400px;
}
